.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 1210px;
  }
  
  .left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 50px;
    margin-right: 20px;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover,
  .nav-links a.active {
    color: #007bff;
    border-bottom: 2px solid #007bff;
  }
  
  .cart-link {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .cart-icon {
    margin-left: 5px;
    font-size: 22px;
  }
  
  .right {
    display: flex;
    align-items: center;
  }
  
  .cta {
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
  }
  
  .cta:hover {
    background-color: #0056b3;
  }
  
  /* General Styles */
  body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
  }
  
  .profile {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .profile i {
    font-size: 30px;
    color: #464646;
    margin-right: 10px;
  }
  .username {
    font-size: 18px;
    color: #333;
    font-weight: 500;
  }
  
  .profile:hover .username {
    color: #0056b3;
  }

  .left i {
    font-size: 20px;
    color: #464646;
    margin-left: 2px;
  }